
.publicidad{
justify-self: center;
padding: 5px;
margin: 25px;
}
.navbar {
    background-color: rgb(206, 99, 255);
}
.card-img{
  width: 100px;
}
.card-title{
  font-size: 30px;
}
.publicidadmp{
 width: 1500px;
  padding: 5px;
  display: flex;
}
.footer{
  padding: 0px;
  width: 1500px;
  display: flex;
}
.card-img-top{
  height: 45vh;
}
.img-fluid{
  padding: 1%;

}
h4{
  font-family:sans-serif;
  margin: 10px;
}
h6{
  text-align: center;
  text-decoration: line-through;
}
.card{
  background-color: black;
}
  p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  h1{
    text-align: center;
    background-color: rgb(243, 242, 242);
  }
